.text-center{
    text-align: center;
}
/* .bg-color{
    background-color: red;
} */
.mx-auto{
    margin: auto;
}
.flex{
    display: flex;
}
.flex-col{
    flex-direction: column;
}
.items-center{
    align-items: center;
}